<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".RimuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:isGame="true"
        android:allowAudioPlaybackCapture="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Rimu"
        android:supportsRtl="false"
        tools:targetApi="q">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--OSZ-->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.osz" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-osu-beatmap-archive" />
                <data android:scheme="content" />
            </intent-filter>

            <!--OSK-->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\.osk" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-osu-skin-archive" />
                <data android:scheme="content" />
            </intent-filter>

            <!--Send to-->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/download" />
                <data android:mimeType="application/x-zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-osu-beatmap-archive" />
                <data android:mimeType="application/x-osu-skin-archive" />
            </intent-filter>

        </activity>

    </application>

</manifest>